body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #94a27c;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #c1aeb2;
    text-align: center;
    padding: 10px 20px;
    position: relative; /* Changed to relative */
    width: 100%;
    bottom: 0;
    margin-top: 20px; /* Added margin to push footer away from content */
}
